{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    background: rgba(255,255,255,0.9);
    font-size: 77px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 10px;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    color: #333;
  }
  .back h1 {
    background: rgba(255,255,255,0.9);
    font-size: 130px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 10px;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    color: #333;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h1 class="p-5">ACMC2020</h1>
      <h2 class="p-5">{ i n c l u s i o n }</h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

{{ readme | markdown }}

<!-- Speakers -->
{{ components.section("Keynote Artists") }}
{{ components.speakergroup(speakers) }}

<!-- Organisers -->
{{ components.section("Organisers") }}
{{ components.organizergroup(committee) }}

<!-- Sessions -->
{{ components.section("Sessions") }}
<div class="row">
  {% for session in sessions %}
  {% if session.title %}
  <div class="col-md-4 col-xs-6">
    <div class="pp-card">
      <div class="pp-card-header" class="text-muted">
        <a href="/session_{{session.UID}}.html"><h5 class="card-title" align="center">{{session.title}}</h5></a>
        <div>
          <h6 class="card-subtitle text-muted m-1" align="center">
            {{session.date}}
          </h6>
        </div>
        {% if session.im %}
        <center>
          <img src="{{session.im}}" class="rounded" style="height: 200px;" {% if org.imcredit %}alt="📸 image credit: {{session.imcredit}}" {% endif %} />
        </center>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}
