{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    background: rgba(255,255,255,0.9);
    font-size: 77px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 10px;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    color: #333;
  }
  .back h1 {
    background: rgba(255,255,255,0.9);
    font-size: 130px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 10px;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    color: #333;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-top: 20px; padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h1>ACMC2020</h1>
      <h2>{ i n c l u s i o n }</h2>
<!--       <h2 class="p-5">
        {{config.date|safe}}
      </h2> -->
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

{{ readme | markdown }}

<!-- Speakers -->
{{ components.section("Keynote Artists") }}
{{ components.speakergroup(speakers) }}

<!-- Organisers -->
{{ components.section("Organisers") }}
{{ components.organizergroup(committee) }}

{% endblock %}
