{% set page_title = paper.content.title %}
{% extends "base.html" %}

{% block head %}

{{ super() }}
<meta name="citation_title" content="{{paper.content.title}}" />
{% for author in paper.content.authors %}
<meta name="citation_author" content="{{author}}" />
{% endfor %}
<meta name="citation_publication_date" content="{{config.date}}" />
<meta name="citation_conference_title" content="{{config.tagline|striptags|title}}" />
<meta name="citation_inbook_title" content="{{config.proceedings_title}}" />
<meta name="citation_abstract" content="{{paper.content.abstract}}" />
{% for keyword in paper.content.keywords %}
<meta name="citation_keywords" content="{{keyword}}" />
{% endfor %}
<meta name="citation_pdf_url" content="{{paper.content.pdf_url | default("")}}" />

{% endblock %}

{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{paper.content.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {% for author in paper.content.authors %}
      <a href="papers.html?filter=authors&search={{author}}" class="text-muted"
        >{{author}}</a
      >{{ "," if not loop.last }}
      {% endfor %}
    </h3>
    <!-- <p class="card-text text-center">
      <span class="">Keywords:</span>
      {% for keyword in paper.content.keywords %}
      <a
        href="papers.html?filter=keywords&search={{keyword}}"
        class="text-secondary text-decoration-none"
        >{{keyword}}</a
      >{{ "," if not loop.last }}
      {% endfor %}
    </p> -->
    <div class="text-center p-3">
      {% if paper.content.bandcamp %}<a class="card-link" href="{{paper.content.bandcamp}}">bandcamp</a>{% endif %}
      {% if paper.content.vimeo %}<a class="card-link" href="{{paper.content.vimeo}}">vimeo</a>{% endif %}
      {% if paper.content.soundcloud %}<a class="card-link" href="{{paper.content.soundcloud}}">soundcloud</a>{% endif %}
      {% if paper.content.youtube %}<a class="card-link" href="{{paper.content.youtube}}">youtube</a>{% endif %}
      {% if paper.content.website %}<a class="card-link" href="{{paper.content.website}}">web</a>{% endif %}
    </div>
  </div>
</div>

<!-- {% if paper.content.bandcamp %}{{paper.content.bandcamp}}{% endif %}
{% if paper.content.vimeo %}{{paper.content.vimeo}}{% endif %}
{% if paper.content.soundcloud %}{{paper.content.soundcloud}}{% endif %}
{% if paper.content.youtube %}{{paper.content.youtube}}{% endif %}
{% if paper.content.website %}{{paper.content.website}}{% endif %} -->

{% if paper.content.image %}<center><img src="static/paper-images/{{paper.id}}.jpg" width="80%" /></center>{% endif %}

<div class="border-top my-3"></div>
<div class="row p-4" id="faq">
  <div class="col-12 bd-content">
    <h2 class="text-center">Details</h2>
  </div>
</div>

<h4>Abstract</h4>

{{paper.content.abstract | markdown}}

<h4>Bio</h4>

{{paper.content.bio | markdown}}

{% endblock %}
